<script language="javascript" type="text/javascript">
function register() 
{       
  // scan finger (data is returned in OnCapture event)
  var captureResult =  BioPlugInActX.RegisterSinglePrint(<%= @user.id %>);
  return false;     
}
</script>
 
<script language="javascript" type="text/javascript" for="BioPlugInActX" event="OnRegister()" >
  // OnCapture event
  var OncaptureResult =  BioPlugInActX1.GetResult();
</script>


<h1><center>Please Scan your finger</center></h1>

<%= javascript_tag("register()") %>

<%= link_to "Continue", newscanuserregistered_path, :class => "continue_button round" %>