<script language="javascript" type="text/javascript">
function timer() 
{
  var t = setTimeout("window.location.replace('http://noattademo.heroku.com/clientdemo')", 4000);	
}
</script>

<h1><center>Welcome to Noatta!</center></h1>
<p><center>
  The future of contactless check in and payment.<br>

  Please check your email to set up your new account!
</center></p>
<%= link_to "Finish", clientdemo_path, :class => "continue_button round" %>

<script language="javascript" type="text/javascript">
  timer();
</script>