<h1>
  <center>Sign up<br />
  Please enter your email address:<br />
  </center>
 </h1>


<%= form_for(@user, :url => { :action => "createandregisterscan" }) do |f| %>
  <div class="field">
    <%= f.text_field :email, :class => 'newuser_email_textfield' %>
  </div>
  <div class="actions">
    <%= image_submit_tag "newuser_email_button.png", :class => 'newuser_email_button', :disable_with => "Please wait..." %>
  </div>
<% end %>