<h1>You have landed!</h1>

<p>Welcome to Noatta, the future of transactions!<br>
We will guide you through four easy steps to set up your account.<br>
</p>

<%= link_to "Step 1", newusersetup_personalinfo_path, :class => "signup_button round" %>
