<p>If you have them, please fill out your member ID number for the following merchants:</p>

<%= form_for(@user, :url => { :action => "save_merchantinfo" }) do |f| %>
  <%= render 'newusermerchantfields', :f => f %>
  <div class="actions">
    <%= image_submit_tag "newuser_bar_4.png" %>
  </div>
<% end %>