<p>Please fill in the following bank information to use for payment:</p>

<%= form_for(@user, :url => { :action => "save_bankinfo" }) do |f| %>
  <%= render 'newuserbankfields', :f => f %>
  <div class="actions">
    <%= image_submit_tag "newuser_bar_3.png" %>
  </div>
<% end %>