<h1>You have landed!</h1>

<p>Welcome to Noatta, the future of transactions!<br>
We will guide you through four easy steps to set up your account.<br>
</p>

<%= link_to image_tag("newuser_bar_1.png"), newusersetup_personalinfo_path %>
