<p>Please fill in the following information:</p>

<%= form_for(@user, :url => { :action => "save_personalinfo" }) do |f| %>
  <%= render 'newuserpersonalfields', :f => f %>
  <div class="actions">
    <%= image_submit_tag "newuser_bar_2.png" %>
  </div>
<% end %>