
<%= will_paginate @transactions %>

<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
	  <% unless @user.transactions.empty? %>
	    <table class="transactions" summary="User transactions">
	      <tr>
	      	<td class = "transactions_table_header_business_name">
	      	  Business Name
      	    </td>
	        <td class = "transactions_table_header_amount">
	          Amount
            </td>
            <td class = "transactions_table_header_date">
              Date
	      	</td>
	      </tr>
	      <%= render @transactions %>
	    </table>
	  <% end %>
	</td>
  </tr>
</table>

<%= will_paginate @transactions%>
