<h1>Noatta Client Application Demo</h1>
<%= link_to "Check In", checkin_path, :class => "checkin_button round" %><br>
<%= link_to "Payment", enterpayment_path, :class => "payment_button round" %><br>
<%= link_to "Sign up", signup_path, :class => "signup_button round" %>