<h1><center>Please enter total amount to pay:</center></h1>

<%= form_tag "/paymentscan", method: :get do %>
<p>
  <%= text_field_tag :amounttopay, params[:amounttopay], :class => 'amount_textfield' %>
  <%= image_submit_tag "scan_button.png", :class => 'scan_button' %>
</p>
<% end %>