<script language="javascript" type="text/javascript">
function timer() 
{
  var t = setTimeout("window.location.replace('http://noattademo.heroku.com/clientdemo')", 4000);  
}
</script>


<%= @transaction = @user.transactions.build(:business_name => "Mobius Fit", :amount => params[:amounttopay]) %>
<% if @transaction.save %>
  <h1><center>Payment was processed successfully</center></h1>
<% else %>
  <h1><center>Payment Error!</center></h1>
<% end %>

<%= link_to "Continue", clientdemo_path, :class => "continue_button round" %>
<%= javascript_tag("timer();") %>