<h1>Please enter total amount:</h1>

<script language="javascript" type="text/javascript">
function Continue()
{
	window.name=document.getElementById('payment_amount').value;
	window.location.replace('<%= payment_scan_path %>'); 
}
</script>

<form>
<input type="text" id="payment_amount" /><br />
<input type="button" value="Continue" onClick="Continue();">
</form> 

