<script language="javascript" type="text/javascript">
function timer() 
{
  var t = setTimeout("window.location.replace('http://localhost:3000/clientdemo')", 4000);	
}
</script>

<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
	    <%= @user.name %><br />
      </h1>
      Mobius Member ID: <%= @user.business1_id %><br />
      Status: Current	    
	  </td>
    <td>
      <%= gravatar_for @user, options = { :size => 200 } %>
    </td>
  </tr>
  <tr>
    <td class="main">
      <%= link_to "Continue", clientdemo_path, :class => "scansuccess_button round" %>
    </td>
  </tr>
</table>

<script language="javascript" type="text/javascript">
  timer();
</script>