<script language="javascript" type="text/javascript">
function timer() 
{
  var t = setTimeout("window.location.replace('http://noattademo.heroku.com/clientdemo')", 4000);	
}
</script>

<table class="profile" summary="Profile information">
  <tr>
    <td class="usernotfound">
      <h1>User Not Found!</h1>
	  </td>
  </tr>
  <tr>
    <td class="main">
      <%= link_to "Continue", clientdemo_path, :class => "scansuccess_button round" %>
    </td>
  </tr>
</table>

<script language="javascript" type="text/javascript">
  timer();
</script>