<tr>
  <td class="transaction">
    <span class="business name"><%= transaction.business_name %></span>
    <span class="amount"><%= number_to_currency transaction.amount %>
    <span class="timestamp">
      Posted <%= time_ago_in_words(transaction.created_at) %> ago.
    </span>
  </td>
  <% user = transaction.user rescue User.find(transaction.user_id) %>
<tr>