<tr>
  <td class="transaction_business_name">
  	<%= transaction.business_name %>
  </td>
  <td class="transaction_business_name">
  	<%= number_to_currency transaction.amount %>
  </td>
  <td class="transaction_time">
  	<%= transaction.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("%I:%M %b %-d %Y") %>
  </td>
  <% user = transaction.user rescue User.find(transaction.user_id) %>
<tr>